.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a0c1b8;
  min-height: 100vh;
}

.App > section {
  margin: 2rem;
}

#refresh {
  font-size: 2rem;
  background-color: ghostwhite;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#error {
  margin: 1rem;
  font-weight: bold;
  color: #cd5d7d;
}

#typing-practice {
  box-sizing: border-box;
  width: 80vw;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
  background-color: ghostwhite;
}
#statistics {
  border: 1px solid gray;
  box-sizing: border-box;
  width: 80vw;
  background-color: #726a95;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#time {
  background-color: ghostwhite;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-family: 'Caveat', cursive;
}
